/* ------ LAYOUTS : ARTICLES ------ */


article {
  .content a {
    background: $light-aqua;
    color: $bright-blue;
    font-family: $accent-font;
    font-style: italic;
    font-size: 1.9rem;
  }

  .content a:hover {
    color: white;
    background: $aqua;
  }
}
