/* ------ VARIABLES : TYPOGRAPHY ------ */

// importing adobe fonts web project
@import url("https://use.typekit.net/tec1vmi.css");


// font-family: freight-sans-pro, sans-serif;
// weight: book (400) / bold (700)

// font-family: benton-modern-display, serif;
// weight: regular (400) / bold (700)
// styles : normal or italic

$freight: "freight-sans-pro", sans-serif;
$benton: "benton-modern-display", serif;

$body-font: $freight;
$headers-font: $benton;
$accent-font: $benton;

$font-weight-regular: 400;
$font-weight-bold: 700;
