/* ------ COMPONENTS : FOOTER ------ */

#frontpage-footer {
  margin-top: $spacing-sm;
  background: $bright-blue;
  color: white;
  display: flex;
  flex-direction: column;
  padding: $spacing-sm 10vw;

  a {
    border: 1px solid white;
  }

  p, a {
    font-size: 1.3rem;
    color: white;
  }
}

#widget-footer-frontpage {
  flex: 0 0 20%;
  font-family: $accent-font;
  font-style: italic;
}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {


} // end of md-screen - 992px

@media only screen and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
