/* ------ COMPONENTS : HEADER ------ */

// all headers
header.header {
  border: 3px solid yellow;
}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  header.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 120px;
  }

  #main-header{
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #homepage-header {
    justify-content: flex-end;
  }

  #homepage-navbar {
    padding-right: 2vw;

    li.item-nouvelles {
      font-family: $accent-font;
      text-transform: lowercase;
      font-style: italic;
    }
  }


} // end of md-screen - 992px

@media only screen and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
