// /* ------ COMPONENTS : NAVBAR ------ */

.nav {
  ul {
    font-family: $body-font;
    text-transform: uppercase;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  .nav {

    // margin-top: 30px;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
    }
  }
} // end of md-screen - 992px

@media only screen and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
