/* ------ COMPONENTS : PAGE CONTENT ------ */

#page-main {
  border: 3px solid blue;
  margin-top: $page-content-margin-top-md;
  padding: $page-content-padding-md;
}



@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media only screen and (min-width: $lg-screen) {
  #page-main {
    margin-top: $page-content-margin-top-lg;
    padding: $page-content-padding-lg;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
